div{
    background-color: #EAEAEA;
}

.form-horizontalx{
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
}

.network-name
{
    font-size:8px;
    background: transparent;
}

.btn{
    border-color: lightblue;
    width:80px;
}
.btn:hover{
    background-color:aliceblue
}

.modal-header, .modal-footer{
    background-color: #EAEAEA;
}

.modal-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

.modal-footer{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }

a{
    color: #4b4b4b;
}

button:hover{
background-color:lightblue;
}