.form-horizontalx{
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
}

.network-name
{
    font-size:8px;
}